<div class="limiter">
  
    <div class="container-table100">
      
      <div class="wrap-table100">
        <div class="table100 mb-4">
            <form #forma="ngForm" (ngSubmit)="agregarRestaurante()">
            <div class="row" >
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre del restaurante" [(ngModel)] = "nombreRest"  #nombreRestaurante="ngModel" [ngModelOptions]="{standalone: true}"  required>
                <div *ngIf="nombreRestaurante.errors?.required">
                    Este campo es requerido
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Ciudad" [(ngModel)] = "ciudadRest" #nombreCiudad="ngModel" [ngModelOptions]="{standalone: true}" required >
                <div *ngIf="nombreCiudad.errors?.required">
                    Este campo es requerido
                </div>
              </div>
              <div class="col">
               <button class="btn btn-info" type="submit" >agregar</button>
              </div>
            </div>
            </form>
        </div>
        <app-grid-body [restaurantes]="restaurantes"></app-grid-body>
      </div>
    </div>
  </div>
  
  
  
  