<div class="limiter">
  
    <div class="container-table100">
      
      <div class="wrap-table100">
        <div class="table100 mb-4">
          <!--<form>-->
            <form #forma="ngForm" (ngSubmit)="agregarRestaurante()">
            <div class="row" >
              <div class="col">
                <input type="text" class="form-control" placeholder="Nombre del restaurante" [(ngModel)] = "nombreRest"  #nombreRestaurante="ngModel" [ngModelOptions]="{standalone: true}"  required>
                <div *ngIf="nombreRestaurante.errors?.required">
                    Este campo es requerido
                </div>
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Ciudad" [(ngModel)] = "ciudadRest" #nombreCiudad="ngModel" [ngModelOptions]="{standalone: true}" required >
                <div *ngIf="nombreCiudad.errors?.required">
                    Este campo es requerido
                </div>
              </div>
              <div class="col">
               <button class="btn btn-info" type="submit" >agregar</button>
              </div>
            </div>
            </form>
          <!--</form>-->
        </div>
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">Restaurante</th>
                <th class="column2">Ciudad</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of restaurantes" >
                  <td class="column1">{{rest.nombre}}</td>
                  <td class="column2">{{rest.ciudad}}</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  
  
  